In [ ]:
pip install wrds

Collecting wrds
  Downloading wrds-3.1.1-py3-none-any.whl (12 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.4.32)
Collecting mock
  Downloading mock-4.0.3-py3-none-any.whl (28 kB)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 6.0 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wrds) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wrds) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->wrds) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->wrds) (3.10.0.2)
Installing collected packages: psycopg2-binary, mock, wrds
Successfully installed mock-4.0.3 psycopg2-binary-2.9.3 wrds-3.1.1

In [ ]:
import wrds
import pandas as pd
conn = wrds.Connection()
conn.list_libraries().sort()
type(conn.list_libraries())

Enter your WRDS username [root]:mhpour
Enter your password:··········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: y
Created .pgpass file successfully.
Loading library list...
Done

list

In [ ]:
crsp = conn.raw_sql("""
                      select *
                      from crsp.dsf as a
                      left join crsp.dsenames as b
                      on a.permno=b.permno
                      and b.namedt<=a.date
                      and a.date<=b.nameendt
                      where a.date between '17/06/2005' and '26/08/2005'
                      and ABS(a.prc)*a.shrout>10000000
                      """, date_cols=['date'])

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 22))

DataError: ignored

In [ ]:
crsp1 = conn.raw_sql("""
                      select *
                      from crsp.msf as a
                      left join crsp.msenames as b
                      on a.permno=b.permno
                      and b.namedt<=a.date
                      and a.date<=b.nameendt
                      where a.date between '01/01/2020' and '12/31/2021'
                      and ABS(a.prc)*a.shrout>10000000
                      """, date_cols=['date'])

In [ ]:
crsp = crsp.loc[:,~crsp.columns.duplicated()]
crsp.loc[:, 'siccd'] /=100.0
crsp['siccd'] = crsp['siccd'].astype(int)
crsp['siccd']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0        35
1        73
2        37
3        73
4        73
         ..
16868    48
16869    73
16870    27
16871    27
16872    79
Name: siccd, Length: 16873, dtype: int64

In [ ]:
crsp = crsp.drop(crsp[crsp.siccd > 100].index)
crsp = crsp.drop(crsp[crsp.siccd == 0].index)
crsp['siccd'].nunique()

49

In [ ]:
def getMajorGroup(row):
  val = row['siccd']
  #print("computing : " , val)
  if val >= 0 and val <=9 :
    return 1
  elif val >= 10 and val <=14 :
   return 2
  elif val >= 15 and val <=17 :
   return 3
  elif val >= 20 and val <=39 :
   return 4
  elif val >= 40 and val <=49 :
   return 5
  elif val >= 50 and val <=51 :
   return 6
  elif val >= 52 and val <=59 :
   return 7
  elif val >= 60 and val <=67 :
   return 8
  elif val >= 70 and val <=89 :
   return 9
  elif val >= 90 and val <=99 :
   return 10
  else :
    return -1

In [ ]:
df = crsp
df.reset_index(drop=True)
df.index = range(len(df))

In [ ]:
df['siccd'] = df.apply(lambda x : getMajorGroup(x), axis=1)
df['siccd']

0        4
1        9
2        4
3        9
4        9
        ..
16868    5
16869    9
16870    4
16871    4
16872    9
Name: siccd, Length: 16873, dtype: int64

In [ ]:
print(df['siccd'].value_counts())

4    6456
8    3817
5    2458
9    1557
2    1225
7    1107
6     150
3     103
Name: siccd, dtype: int64

In [ ]:
#df10 = df[df['siccd'] == 9]
df10 = df[['date', 'prc', 'ticker']]
print(df10['ticker'].value_counts())

NWS     100
BRK     100
SUNW     50
CMX      50
APOL     50
       ...
ITT       3
CTX       3
ROK       3
LTD       2
KMG       1
Name: ticker, Length: 360, dtype: int64

In [ ]:
df10.reset_index(drop=True)
df10.index = range(len(df10))

In [ ]:
df10.groupby(['date']).mean()

                   prc
date
2005-06-17  305.996175
2005-06-20  307.782423
2005-06-21  310.245831
2005-06-22  308.290030
2005-06-23  307.284397
2005-06-24  307.447341
2005-06-27  309.730363
2005-06-28  310.281885
2005-06-29  308.374168
2005-06-30  309.475663
2005-07-01  307.597604
2005-07-05  310.413045
2005-07-06  315.718750
2005-07-07  313.011612
2005-07-08  312.874162
2005-07-11  311.603858
2005-07-12  309.696876
2005-07-13  309.019630
2005-07-14  306.771447
2005-07-15  306.232000
2005-07-18  309.488213
2005-07-19  304.371404
2005-07-20  303.829036
2005-07-21  307.334349
2005-07-22  304.819795
2005-07-25  305.345585
2005-07-26  305.476862
2005-07-27  304.136676
2005-07-28  304.337114
2005-07-29  302.659622
2005-08-01  303.774695
2005-08-02  299.287890
2005-08-03  299.989828
2005-08-04  303.585864
2005-08-05  306.037640
2005-08-08  304.117824
2005-08-09  302.794956
2005-08-10  301.224308
2005-08-11  304.915519
2005-08-12  305.815542
2005-08-15  303.485222
2005-08-16  306.860000
2005-08-17  308.141386
2005-08-18  315.038075
2005-08-19  313.750629
2005-08-22  311.964209
2005-08-23  314.056355
2005-08-24  310.851612
2005-08-25  309.642695
2005-08-26  309.327018

In [ ]:
print(type(df10.groupby(['date']).mean()))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df_reg = df[df['siccd'] == 8]
df_reg = df_reg[['date', 'prc']]
df_reg = df_reg.groupby(['date']).mean()
extracted_col = df_temp['prc']
extracted_col.head()

0    61.730000
1    61.050001
2    64.750000
3    71.376666
4    68.965000
Name: prc, dtype: float64

In [ ]:
df_reg = df[df['siccd'] == 2]
df_reg = df_reg[['date', 'prc']]

#df_reg.reset_index(drop=True)

#df_reg.index = range(len(df_reg))

df_reg = df_reg.groupby(['date']).mean()

#df_reg = df_reg.iloc[::7, :]
print(df_reg.head())


for grp in range(3, 10):
  df_temp = df[df['siccd'] == grp]
  df_temp = df_temp[['date', 'prc', 'ticker']]
  df_temp = df_temp.groupby(['date']).mean()
  #df_temp = df_temp.iloc[::7, :]
  #df_temp.reset_index(drop=True)
  #df_temp.index = range(len(df_temp))
  extracted_col = df_temp['prc']
  #print(len(df_reg), " ", len(extracted_col) )
  df_reg.insert(0, "prc"+str(grp), extracted_col)

df_reg

                  prc
date
2005-06-17  58.150869
2005-06-20  58.525218
2005-06-21  57.588260
2005-06-22  58.086957
2005-06-23  58.171304

,prc9,prc8,prc7,prc6,prc5,prc4,prc3,prc
date,,,,,,,,
2005-06-17,48.893750,1205.772162,47.937272,46.459999,41.409792,48.096797,61.730000,58.150869
2005-06-20,49.152813,1210.197838,48.102727,46.863332,41.507708,47.959150,60.170002,58.525218
2005-06-21,47.548438,1223.479595,47.991364,46.873333,41.441459,47.252284,60.570000,57.588260
2005-06-22,47.546562,1214.499324,48.091364,46.886667,41.571667,47.233701,60.385002,58.086957
2005-06-23,46.924375,1230.174109,47.336818,46.750000,41.528163,47.189844,59.675001,58.171304
2005-06-24,47.828710,1211.823108,46.877273,46.583333,41.310408,46.916693,58.500000,58.121305
2005-06-27,48.070323,1221.579460,46.874091,44.856667,41.342857,46.985827,59.799999,58.925652
2005-06-28,48.415806,1216.648784,47.939545,45.513332,41.768571,46.818480,61.050001,58.154783
2005-06-29,47.064687,1207.901307,47.572727,45.913333,41.488400,46.609762,60.339998,58.159130
2005-06-30,47.774193,1209.709733,47.279546,46.186667,41.646123,46.175118,60.930000,57.879131
2005-07-01,46.813437,1198.989276,47.339545,46.440000,41.660196,46.806457,61.010000,59.116522
2005-07-05,47.984193,1190.868441,48.250909,46.833333,41.983400,47.209764,61.609999,60.171305
2005-07-06,48.146167,1204.799870,47.838182,46.233334,41.298000,46.793040,61.255001,59.868260
2005-07-07,48.244667,1202.746753,47.989545,46.023333,41.538039,46.990945,64.045002,60.514348
2005-07-08,48.565667,1227.676133,48.617272,46.486666,41.996275,47.585859,64.750000,60.693478
2005-07-11,47.625312,1232.144800,48.972273,46.730000,42.471400,47.748682,66.220001,60.102500
2005-07-12,47.758250,1210.468816,49.425909,46.563333,42.534800,47.976172,66.724998,61.018000
2005-07-13,47.812500,1192.992467,49.185909,46.556666,42.573400,47.853711,66.724998,60.377500
2005-07-14,47.943438,1169.330897,49.205909,46.736668,42.412980,47.661719,65.584999,59.630001
2005-07-15,47.900313,1173.481026,49.548637,46.610001,42.377000,47.737846,67.305000,59.359565
2005-07-18,47.706563,1197.083197,49.814546,46.756667,42.539796,47.655984,67.235001,58.987391
2005-07-19,48.457187,1169.578333,49.501305,46.916667,42.724694,48.491923,71.376666,59.433750
2005-07-20,48.503750,1172.201262,49.904348,47.140001,43.160612,49.154243,72.236666,59.342083
2005-07-21,49.235807,1155.503165,49.667727,46.519999,41.880816,48.726250,66.204998,58.923750
2005-07-22,48.992581,1155.975063,49.437392,46.370000,42.183673,49.059302,71.129999,60.894399
2005-07-25,48.636775,1159.459747,49.635909,45.893333,42.046735,48.638243,65.370001,61.232800
2005-07-26,48.773549,1170.764743,49.621818,46.103334,42.204694,48.715420,66.055000,60.965200
2005-07-27,49.081290,1170.777949,49.326521,46.470000,42.198400,49.040611,66.815001,61.395600
2005-07-28,49.445484,1155.983164,49.696522,46.890001,42.879796,49.414809,68.965000,61.443200
2005-07-29,49.786563,1166.817756,49.296522,46.880001,42.485200,49.243397,67.350002,61.026000
2005-08-01,49.981869,1174.805385,49.274739,46.866666,42.261600,49.326420,67.800001,60.910385
2005-08-02,50.495938,1168.717071,48.329584,47.396667,42.975800,50.089254,68.245001,62.060000
2005-08-03,50.356249,1166.162308,48.458696,47.083333,43.088000,49.672030,67.410000,61.962963
2005-08-04,50.130323,1173.275936,47.420455,46.766668,42.869400,49.490916,66.565001,61.575000
2005-08-05,49.693226,1180.493117,46.855000,46.669999,42.333400,48.913023,64.199999,63.305200
2005-08-08,49.468064,1204.254533,46.601364,46.623334,42.518959,49.214848,61.754999,63.762222
2005-08-09,49.777500,1176.449221,46.944091,46.719999,43.184583,50.030526,62.279999,63.645770
2005-08-10,49.480937,1188.128290,47.021364,46.856667,42.634694,49.653699,62.124998,64.729259
2005-08-11,50.137096,1185.890285,47.152727,47.066667,42.723400,49.871977,62.315001,65.221538
2005-08-12,50.500034,1175.641282,47.360909,46.763334,42.578800,49.645076,61.955002,65.056923
2005-08-15,50.508667,1176.425402,47.504546,46.980001,42.861837,49.796212,62.070000,63.274815
2005-08-16,50.175667,1188.400394,46.178182,46.463333,43.170639,48.921154,61.130001,62.112308
2005-08-17,50.442334,1184.603442,46.463182,46.806666,43.095744,48.710698,60.275000,61.483750
2005-08-18,50.104333,1208.459118,46.547727,46.663334,42.515416,48.693281,60.024998,62.455000
2005-08-19,50.038333,1212.551974,46.017727,46.346667,42.715208,48.939147,59.740000,62.634167
2005-08-22,49.703001,1207.338553,45.998182,46.516668,42.985625,49.471395,59.615002,61.733200
2005-08-23,49.774333,1222.638267,46.075909,46.176666,42.961458,48.888516,59.200001,61.880416
2005-08-24,49.724667,1219.051867,46.646667,45.713333,42.513469,48.281797,60.074999,63.502222
2005-08-25,49.902667,1209.998534,46.963334,45.726667,42.107347,48.739688,59.509998,62.666154
2005-08-26,49.755999,1218.065539,46.493809,45.686666,42.170625,48.467344,58.709999,61.853076

In [ ]:
df_reg.reset_index(drop=True)
df_reg.index = range(len(df_reg))
#df_reg = df_reg.drop('date', 1)
df_reg.columns

Index(['prc9', 'prc8', 'prc7', 'prc6', 'prc5', 'prc4', 'prc3', 'prc'], dtype='object')

In [ ]:
df_reg = df_reg.dropna()
print(len(df_reg))

50

In [ ]:
#normalized_df=(df_reg-df_reg.mean())/df_reg.std()
#normalized_df=(df_reg-df_reg.min())/(df_reg.max()-df_reg.min())

# To find the discrete difference
normalized_df = df_reg.diff(axis = 0, periods = 1)

In [ ]:
normalized_df = normalized_df.iloc[1:]
normalized_df

,prc,prc2,prc3,prc4,prc5,prc6,prc7,prc8,prc9
1,-0.529999,89.810005,1.280001,-32.090004,-8.070000,-131.699997,23.540005,47.159996,89.930004
2,0.680000,-114.670006,-0.110001,55.849998,29.600000,55.379990,-3.780006,-104.149998,-25.430008
3,2.680000,-52.210002,1.180000,-26.079994,-41.580001,-86.969994,-1.059998,23.980000,-86.649998
4,-0.030003,77.700000,1.139999,-3.610001,34.889998,87.590004,-9.680000,20.270000,65.740002
5,0.380001,-30.020000,0.180000,0.329994,-12.070000,-10.050003,4.270004,-15.689999,667.829994
...,...,...,...,...,...,...,...,...,...
263,0.130001,-64.740000,21.070000,-56.590004,-26.299999,-52.360001,0.279999,-62.160001,26.020004
264,-3.150002,0.030001,-1.930000,16.820000,17.950001,-31.769997,0.529999,27.590001,70.490005
265,3.299999,1.619999,-18.490002,-35.039997,-17.280003,31.889999,-13.330002,197.290001,-92.120010
266,-2.139999,88.770000,3549.260059,48.670002,-8.730000,-49.209999,636.160004,-202.170002,15.360001
267,1.459999,-88.830000,-3533.800060,104.709999,67.440002,32.209999,-606.750000,103.390003,720.909988

In [ ]:
from sklearn import linear_model

X = df_reg[['prc3', 'prc4', 'prc5', 'prc6', 'prc7', 'prc8', 'prc9']]
y = df_reg['prc']

In [ ]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

print('Intercept:', LR.intercept_)
print('Coefficients:', LR.coef_)

Intercept: 1.4354967303321544
Coefficients: [-0.03731832  1.49224783  0.83238981 -0.48750605 -0.45996289  0.00533067
 -0.14957323]

In [ ]:
y_prediction =  LR.predict(x_test)

In [ ]:
# importing r2_score module
import numpy as np
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print("r2 socre is ",score)
print("mean_sqrd_error is==",mean_squared_error(y_test,y_prediction))
print("root_mean_squared error of is==",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.22588871483694395
mean_sqrd_error is== 1.68705802307733
root_mean_squared error of is== 1.298867977539415

In [ ]:
# Fitting Polynomial Regression to the dataset
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree=2)
X_poly = poly_reg.fit_transform(x_train)

clf = linear_model.LinearRegression()
train_y_ = clf.fit(X_poly, y_train)
# The coefficients
#print ('Coefficients: ', clf.coef_)
print ('Intercept: ',clf.intercept_)

Intercept:  75.35329190544704

In [ ]:
from sklearn.metrics import r2_score

test_x_poly = poly_reg.fit_transform(x_test)
test_y_ = clf.predict(test_x_poly)

print("Mean absolute error: %.2f" % np.mean(np.absolute(test_y_ - y_test)))
print("Residual sum of squares (MSE): %.2f" % np.mean((test_y_ - y_test) ** 2))
print("R2-score: %.2f" % r2_score(test_y_ , y_test) )

Mean absolute error: 34.16
Residual sum of squares (MSE): 3535.74
R2-score: -0.72